<!DOCTYPE html>
<html lang="en">

    <head>
    {% load static %}
    <link rel="icon" type="image/png" href="{% static 'hortum/logo.png' %}"/>
    </head>
    <body BGCOLOR="478C5C">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet"> 
            <style>
                titulo{
                    color: #FFFF; 
                    font-size:30pt;
                    font-family: Comfortaa;
                }
                h2{
                    color: #FFFF;
                    font-family: Comfortaa;
                }                            
                p{
                    color: #FFFF;
                    font-family: Comfortaa;
                }                
            </style>            
    <center><img src="{% static 'hortum/logo.png' %}" align="BOTTOM" height=100 width=100</center>
    </br>
    <titulo>Hortum</titulo>
    <h2>Cadastre sua nova senha<br /></h2>
	<form method="post">
        {% block content %}

        {% if validlink %}

        <form method="post">{% csrf_token %}
        <fieldset class="module aligned">
            <div class="form-row field-password1">
                {{ form.new_password1.errors }}
                <label for="id_new_password1"><p>Senha:</p></label>
                {{ form.new_password1 }}
            </div>
            <div class="form-row field-password2">
                {{ form.new_password2.errors }}
                <label for="id_new_password2"><p>Confirme a nova senha:</p></label>
                {{ form.new_password2 }}
            </div>
            <br></br>
            <input type="submit" value='Enviar'>
        </fieldset>
    </form>

        {% else %}

        <p>O link de redefinição de senha era inválido, possivelmente porque já foi usado. Solicite uma nova redefinição de senha.</p>

        {% endif %}

        {% endblock %}
    <br>
        <p>Sua senha não pode ser muito semelhante às suas outras informações pessoais.</p>
        <p>Sua senha deve conter pelo menos 8 caracteres.</p> 
        <p>Sua senha não pode ser uma senha comumente usada.</p>
        <p>Sua senha não pode ser totalmente numérica.</p>
    </br>
    </body>
</html>