<!DOCTYPE html>
<html lang="en">

    <head>
    {% load static %}
    <link rel="icon" type="image/png" href="{% static 'hortum/logo.png' %}"/>
    </head>
    <body BGCOLOR="478C5C">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet"> 
            <style>
                titulo{
                    color: #FFFF; 
                    font-size:30pt;
                    font-family: Comfortaa;
                }
                h2{
                    color: #FFFF;
                    font-family: Comfortaa;
                }                            
                p{
                    color: #FFFF;
                    font-family: Comfortaa;
                }                
            </style>            
    <center><img src="{% static 'hortum/logo.png' %}" align="BOTTOM" height=100 width=100</center>
    </br>
    <titulo>Hortum</titulo>
    <h2>Email para redefinir senha enviado<br /></h2>
    <p>Enviamos por e-mail instruções para definir sua senha. Se houver uma conta com o e-mail que você digitou, você deve recebê-las em breve.</p></br>
    <p>Se você não receber um e-mail, certifique-se de inserir o endereço com o qual se registrou e verifique sua pasta de spam.</p></br>
    </body>
</html>