<!DOCTYPE html>
<html lang="en">

    <head>
    {% load static %}
    <link rel="icon" type="image/png" href="{% static 'hortum/logo.png' %}"/>
    </head>
    <body BGCOLOR="478C5C">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet"> 
            <style>
                titulo{
                    color: #FFFF; 
                    font-size:30pt;
                    font-family: Comfortaa;
                }
                h2{
                    color: #FFFF;
                    font-family: Comfortaa;
                }                            
                p{
                    color: #FFFF;
                    font-family: Comfortaa;
                }                
            </style>            
    <center><img src="{% static 'hortum/logo.png' %}" align="BOTTOM" height=100 width=100</center>
    </br>
    <titulo>Hortum</titulo>
    <h2>Redefinir senha<br /></h2>
    <p>Esqueceu sua senha? Insira seu endereço de e-mail abaixo e enviaremos instruções para configurar uma nova senha.</p>
    {% block content %}
        <form method="post">
            {% csrf_token %}
            <p>Email</p>
            {{form.email}}
            <input type="Submit" name="Send email">
        </form>
    {% endblock %}
    </body>
</html>