<!DOCTYPE html>
<html lang="en">

    <head>
    {% load static %}
    <link rel="icon" type="image/png" href="{% static 'hortum/logo.png' %}"/>
    </head>
    <body BGCOLOR="478C5C">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet"> 
            <style>
                titulo{
                    color: #FFFF; 
                    font-size:30pt;
                    font-family: Comfortaa;
                }
                h2{
                    color: #FFFF;
                    font-family: Comfortaa;
                }                            
                p{
                    color: #FFFF;
                    font-family: Comfortaa;
                }                
            </style>            
    <center><img src="{% static 'hortum/logo.png' %}" align="BOTTOM" height=100 width=100</center>
    </br>
    <titulo>Hortum</titulo>
    <h2>Cadastre sua nova senha<br /></h2>
    <p>Digite sua nova senha duas vezes para que possamos verificar se você a digitou corretamente.</p>
	<form method="post">

        {% csrf_token %}
        <p>Senha:</p>
        {{form.new_password1}}
        {{ form.new_password1.errors }}

        <p>Confirme a nova senha:</p>
        {{form.new_password2}}
        {{ form.new_password2.errors }}
        <br></br>
        <input type="Submit" name="Update Password">
        
    </form>    
    </body>
</html>